parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - tests/*
    stubFiles:
        - stubs/Collection.stub
        - stubs/EloquentBuilder.stub
        - stubs/EloquentCollection.stub
        - stubs/Enumerable.stub
        - stubs/EnumeratesValues.stub
        - stubs/Model.stub
        - stubs/Relation.stub
        - stubs/SupportsDefaultModels.stub
